<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Consequuntur hic laborum, assumenda deleniti accusantium at maiores harum! Sunt adipisci illo amet a quisquam vel ex, 
    suscipit, doloremque omnis necessitatibus aliquam? 
</p>
<%= link_to 'Home', root_path %>